[submodule "3rdparty/t1ha"]
	path = 3rdparty/t1ha
	url = https://github.com/danielealbano/erthink-t1ha.git
[submodule "3rdparty/liburing"]
	path = 3rdparty/liburing
	url = https://github.com/axboe/liburing.git
[submodule "3rdparty/xxHash"]
	path = 3rdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "3rdparty/nodejs-http-parser"]
	path = 3rdparty/nodejs-http-parser
	url = https://github.com/nodejs/http-parser
[submodule "3rdparty/mimalloc"]
	path = 3rdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "3rdparty/highway"]
	path = 3rdparty/hwy
	url = https://github.com/google/highway.git
	branch = tags/1.0.3
