name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Ubuntu Latest",
            os: ubuntu-latest,
            triplet: x64-linux,
            cc: "gcc",
            cxx: "g++"
          }

    steps:
    - name: Setup cmake
      uses: lukka/get-cmake@latest

    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: CC=/usr/bin/gcc-8 CXX=/usr/bin/g++-8 cmake $GITHUB_WORKSPACE -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCACHEGRAND_BUILD_TESTS=1 -DCACHEGRAND_BUILD_BENCHES=1

    - name: Build All
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --target cachegrand-tests -- -j 4

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: tests/cachegrand-tests

    - name: Code Coverage - Initial generation
      uses: danielealbano/lcov-action@v0.1.6
      with:
        params: -i -c -d . -o coverage.info

    - name: Code Coverage - Cleanup
      uses: danielealbano/lcov-action@v0.1.6
      with:
        params: -r coverage.info '/usr/include/*' '/usr/lib/*' '/usr/include/*' "$GITHUB_WORKSPACE/build/tests/\*" "$GITHUB_WORKSPACE/build/3rdparty/\*" -o coverage-filtered.info

    - name: Code Coverage - Upload to codecov.io
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: bash <(curl -s https://codecov.io/bash) -X gcov -Z -f build/coverage-filtered.info
